[submodule "git_test"]
	path = git_test
	url = git@github.com:TaylorBisset/git_test.git
[submodule "html-boilerplate"]
	path = html-boilerplate
	url = git@github.com:TaylorBisset/html-boilerplate.git
[submodule "test-blog-article"]
	path = test-blog-article
	url = git@github.com:TaylorBisset/test-blog-article.git
[submodule "html-list-practice"]
	path = html-list-practice
	url = git@github.com:TaylorBisset/html-list-practice.git
[submodule "odin-links-and-images"]
	path = odin-links-and-images
	url = git@github.com:TaylorBisset/odin-links-and-images.git
[submodule "odin-recipes"]
	path = odin-recipes
	url = git@github.com:TaylorBisset/odin-recipes.git
